@model MongodbAspStory.Models.DataModels.Chapter

@{
    ViewData["Title"] = "Create";
}

<div class="row mb-2">
    <div class="col-sm-6">
        <h1 class="m-0">Thêm mới Chapter Truyện</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index">Home Admin</a></li>
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="ChaptersAdmin" asp-action="Index">Danh sách Chapter Truyện</a></li>
            <li class="breadcrumb-item active">Thêm mới Chapter Truyện</li>
        </ol>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="chapDate" type="hidden" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" class="form-control" />
            <div class="form-group">
                <label class="control-label">Chapter Name: </label>
                <input asp-for="chapName" class="form-control" />
                <span asp-validation-for="chapName" class="text-danger"></span>
                <span class="text-danger">@ViewBag.errorName</span>
            </div>
            <div class="form-group">
                <label class="control-label">Chapter Content: </label>
                <textarea asp-for="chapContent" id="txtDai" class="form-control"></textarea>
                <span asp-validation-for="chapContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Select a story: </label>
                <select asp-for="stoId" asp-items="ViewBag.stoId" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/styleadmin/ckeditor5-40.2.0-p5cboa81rymg/build/ckeditor.js"></script>
    <a href="~/styleadmin/ckeditor5-40.2.0-p5cboa81rymg/build/ckeditor.js.map">~/styleadmin/ckeditor5-40.2.0-p5cboa81rymg/build/ckeditor.js.map</a>
    <script>

        ClassicEditor
            .create(document.querySelector('#txtDai'), {

            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });

    </script>
}
